body{
    text-align: center;
    justify-content: center;
    /* display:flex; */
    background-color:blanchedalmond;
}
.btn{
   height: 200px;
   width: 200px;
   background-color: aquamarine;
   border-radius: 15%;
   border: 8px solid black;
   margin: 2rem;
}
.box{
    display: flex;
    justify-content: center;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}
.flash{
    background-color: white;
}
.flash1{
    background-color: aquamarine;
}